In [1]:
import pandas as pd

In [10]:
df =  pd.read_csv("data/reviews_enriched_latest.csv")

In [11]:
df.head(2)

,review_id,company,job_title,department,location,review_date,overall_rating,pros,cons,employee_id,name,status,joining_date,exit_date,engagement_score,performance_rating,salary_band,gender,age
0,review-64033626,Nineleaps Technology Solutions,Data Engineer,IT Support,Bangalore / Bengaluru,2024-12-18,2,Here at NINELEAPS we have fun with team and ev...,Skill development is poor. You might be workin...,EMP0060,Vivaan Singh,Active,2023-03-30,NaN,5.6,1,C,Female,26
1,review-65978126,Nineleaps Technology Solutions,Lead Software Engineer,Software Development,Bangalore / Bengaluru,2025-01-31,5,People are friendly. Company even supports ski...,Management should address queries immediately ...,EMP0030,Sneha Nair,Active,2022-06-18,NaN,8.0,4,B,Male,48

In [5]:
df['JobTitle'].unique()

array(['Data Engineer', 'Lead Software Engineer',
       'Software Development Engineer II', 'Front end Engineer',
       'Associate', 'HR Executive', 'Software Development Engineer 1',
       'Software Engineer', 'Data Analyst 1', 'Data Analyst',
       'UI UX Developer', 'Software Development Engineer',
       'Quality Engineer', 'Software Developer', 'Principal Engineer',
       'Junior Engineer', 'Marketing Executive',
       'Senior Quality Engineer', 'Sdet', 'SDE',
       'Principal Software Engineer', 'Associate Project Manager',
       'QA Engineer', 'Senior Talent Partner', 'Senior Software Engineer',
       'Member Technical Staff 2', 'SDE-2', 'Technical Staff Member 3',
       'Senior QA Engineer'], dtype=object)