In [17]:
import pandas as pd
import sqlite3

In [30]:
import sqlite3
import pandas as pd

# Path to your SQLite DB
DB_PATH = "/home/nineleaps/Desktop/data/hr_analytics.db"  # change if needed

# All segmentation queries
queries = {
    "Employees by Department": """
        select department, count(*) as employee_count
        from merged_data
        group by department
    """,
    "Employees by Performance Rating": """
        select performance_rating, count(*) as employee_count
        from merged_data
        group by performance_rating
        order by performance_rating desc
    """,
    "Employees by Salary Band": """
        select salary_band, count(*) as employee_count
        from merged_data
        group by salary_band
        order by salary_band
    """,
    "Employees by Engagement Score Range": """
        select
            case
                when engagement_score >= 80 then 'High'
                when engagement_score between 50 and 79 then 'Medium'
                else 'Low'
            end as engagement_category,
            count(*) as employee_count
        from merged_data
        group by engagement_category
    """
}

# Connect to DB
conn = sqlite3.connect(DB_PATH)

# Run each query and display
for title, query in queries.items():
    print(f"\n=== {title} ===")
    df = pd.read_sql_query(query, conn)
    print(df.to_string(index=False))

# Close DB
conn.close()

=== Employees by Department ===
                                      department  employee_count
                           Accounting & Taxation               1
                                  BD / Pre Sales               2
                              Banking Operations               1
               Business Intelligence & Analytics              12
Content Management (Print / Online / Electronic)               2
                          DBA / Data warehousing               1
                                            Data               1
                Data Science & Analytics - Other               1
                 Data Science & Machine Learning               6
                                     Engineering               3
                                   HR Operations               1
                                              IT               1
                                      IT Network               1
                                      IT Support               1
                          Information Technology               3
                                         Lending               1
                                       Marketing               2
                                              Na               1
                              Operations Support               1
                 Product Management - Technology               1
                      Production & Manufacturing               1
                   Quality Assurance and Testing               8
                Recruitment & Talent Acquisition               2
                            Software Development              81
                                 Technology / IT               3
                                         UI / UX               2

=== Employees by Performance Rating ===
 performance_rating  employee_count
                  5              35
                  4              27
                  3              38
                  2              26
                  1              14

=== Employees by Salary Band ===
salary_band  employee_count
          A              42
          B              42
          C              56

=== Employees by Engagement Score Range ===
engagement_category  employee_count
                Low             140