In [2]:
import pandas as pd
import sqlite3

In [5]:
import sqlite3
import pandas as pd

# Path to your SQLite DB
DB_PATH = "/home/nineleaps/PycharmProjects/hr-attrition-intelligence1/data/hr_analytics.db"  # change if needed

# All segmentation queries
queries = {
    "Employees by Department": """
        select department, count(*) as employee_count
        from merged_data
        group by department
    """,
    "Employees by Performance Rating": """
        select performance_rating, count(*) as employee_count
        from merged_data
        group by performance_rating
        order by performance_rating desc
    """,

    "Attrition by Quarter": """
        select
            strftime('%Y-Q', exit_date) as year_quarter,
            count(*) as attrition_count
        from merged_data
        where exit_date is not null
        group by year_quarter
        order by year_quarter
    """,

    "Attrition by Gender and Department": """
        select
            department,
            gender,
            count(*) as attrition_count
        from merged_data
        where exit_date is not null
        group by department, gender
        order by department, gender
    """,

    "Attrition vs Engagement Score": """
        select
            case
                when engagement_score >= 80 then 'High'
                when engagement_score between 50 and 79 then 'Medium'
                else 'Low'
            end as engagement_category,
            count(*) as attrition_count,
            avg(engagement_score) as avg_engagement_score
        from merged_data
        where exit_date is not null
        group by engagement_category
        order by avg_engagement_score desc
    """,

    "Attrition by Job Title": """
        select
            job_title,
            count(*) as attrition_count
        from merged_data
        where exit_date is not null
        group by job_title
        order by attrition_count desc
        limit 10
    """,

    "Attrition by Salary Band": """
        select
            salary_band,
            count(*) as attrition_count
        from merged_data
        where exit_date is not null
        group by salary_band
        order by salary_band
    """,

    "Attrition by Age Group": """
        select
            case
                when age < 25 then '<25'
                when age between 25 and 34 then '25-34'
                when age between 35 and 44 then '35-44'
                when age between 45 and 54 then '45-54'
                else '55+'
            end as age_group,
            count(*) as attrition_count
        from merged_data
        where exit_date is not null
        group by age_group
        order by age_group
    """
}


# Connect to DB
conn = sqlite3.connect(DB_PATH)

# Run each query and display
for title, query in queries.items():
    print(f"\n=== {title} ===")
    df = pd.read_sql_query(query, conn)
    print(df.to_string(index=False))

# Close DB
conn.close()

=== Employees by Department ===
                                      department  employee_count
                           Accounting & Taxation               1
                                  BD / Pre Sales               2
                              Banking Operations               1
               Business Intelligence & Analytics              12
Content Management (Print / Online / Electronic)               2
                          DBA / Data warehousing               1
                                            Data               1
                Data Science & Analytics - Other               1
                 Data Science & Machine Learning               6
                                     Engineering               3
                                   HR Operations               1
                                              IT               1
                                      IT Network               1
                                      IT Support               1
                          Information Technology               3
                                         Lending               1
                                       Marketing               2
                                              Na               1
                              Operations Support               1
                 Product Management - Technology               1
                      Production & Manufacturing               1
                   Quality Assurance and Testing               8
                Recruitment & Talent Acquisition               2
                            Software Development              81
                                 Technology / IT               3
                                         UI / UX               2

=== Employees by Performance Rating ===
 performance_rating  employee_count
                  5              35
                  4              27
                  3              38
                  2              26
                  1              14

=== Employees by Salary Band ===
salary_band  employee_count
          A              42
          B              42
          C              56

=== Employees by Engagement Score Range ===
engagement_category  employee_count
                Low             140

=== Attrition by Quarter ===
year_quarter  attrition_count
      2019-Q                4
      2020-Q                4
      2021-Q                7
      2022-Q               19
      2023-Q               15
      2024-Q                5

=== Attrition by Gender and Department ===
                                      department gender  attrition_count
                           Accounting & Taxation Female                1
                                  BD / Pre Sales Female                1
               Business Intelligence & Analytics Female                4
Content Management (Print / Online / Electronic)   Male                1
                          DBA / Data warehousing Female                1
                                            Data Female                1
                 Data Science & Machine Learning Female                2
                 Data Science & Machine Learning   Male                1
                                     Engineering Female                2
                                              IT Female                1
                                      IT Network Female                1
                                      IT Support Female                1
                          Information Technology   Male                2
                                       Marketing   Male                1
                                              Na Female                1
                 Product Management - Technology Female                1
                   Quality Assurance and Testing Female                2
                   Quality Assurance and Testing   Male                3
                Recruitment & Talent Acquisition   Male                1
                            Software Development Female               17
                            Software Development   Male                8
                                         UI / UX Female                1

=== Attrition vs Engagement Score ===
engagement_category  attrition_count  avg_engagement_score
                Low               54              7.053704

=== Attrition by Job Title ===
                        job_title  attrition_count
 Software Development Engineer II                7
  Software Development Engineer 1                6
                     Data Analyst                5
               Software Developer                4
                    Data Engineer                3
Software Development Engineer III                2
  Software Development Engineer 3                2
    Software Development Engineer                2
                  UI UX Developer                1
         Technical Staff Member 2                1

=== Attrition by Salary Band ===
salary_band  attrition_count
          A               23
          B               11
          C               20

=== Attrition by Age Group ===
age_group  attrition_count
    25-34               13
    35-44               14
    45-54               13
      <25               14